In [13]:
import pandas as pd

In [14]:
df_temp = pd.read_excel(r'C:\Users\ivan_pinar\Dropbox\Creación de MOCs\MOC Master Python Análisis de Datos\Datasets\10.2\Temperaturas.xlsx',sheet_name="Sheet1",parse_dates=True,index_col="FECHA")

In [15]:
df_temp

            Ciudad  T. Máxima  T.Mínima
FECHA
2019-06-01  Madrid       33.1      17.2
2019-06-02  Madrid       34.5      19.0
2019-06-03  Madrid       32.8      20.3
2019-06-04  Madrid       29.0      18.9
2019-06-05  Madrid       22.1      12.7
...            ...        ...       ...
2020-05-27  Madrid       30.0      17.0
2020-05-28  Madrid       29.4      17.3
2020-05-29  Madrid       30.6      15.7
2020-05-30  Madrid       31.6      17.9
2020-05-31  Madrid       30.7      15.4

[366 rows x 3 columns]

In [16]:
df_temp.loc["2020-01"]

            Ciudad  T. Máxima  T.Mínima
FECHA
2020-01-01  Madrid       11.2       1.9
2020-01-02  Madrid       10.5       1.6
2020-01-03  Madrid        6.0       1.5
2020-01-04  Madrid       11.2       2.8
2020-01-05  Madrid       10.9       1.5
2020-01-06  Madrid       12.0       1.4
2020-01-07  Madrid       12.0       0.8
2020-01-08  Madrid       13.5       1.8
2020-01-09  Madrid       11.5       4.0
2020-01-10  Madrid       10.8       4.2
2020-01-11  Madrid       10.4       2.0
2020-01-12  Madrid        9.0      -0.7
2020-01-13  Madrid        8.5      -0.5
2020-01-14  Madrid        8.4      -0.5
2020-01-15  Madrid        8.3       3.3
2020-01-16  Madrid       12.8       7.2
2020-01-17  Madrid       12.5       4.8
2020-01-18  Madrid        8.5       5.3
2020-01-19  Madrid       10.1       3.1
2020-01-20  Madrid        5.7       1.7
2020-01-21  Madrid        7.3       3.6
2020-01-22  Madrid       10.0       4.4
2020-01-23  Madrid       10.0       3.2
2020-01-24  Madrid        9.2       6.2
2020-01-25  Madrid        9.6       5.8
2020-01-26  Madrid       10.1       3.0
2020-01-27  Madrid        9.0       3.0
2020-01-28  Madrid       12.4       8.0
2020-01-29  Madrid       13.7       9.9
2020-01-30  Madrid       11.8       8.4
2020-01-31  Madrid       15.7       9.5

In [17]:
df_temp.loc["2020-01-15":"2020-05-15"]

            Ciudad  T. Máxima  T.Mínima
FECHA
2020-01-15  Madrid        8.3       3.3
2020-01-16  Madrid       12.8       7.2
2020-01-17  Madrid       12.5       4.8
2020-01-18  Madrid        8.5       5.3
2020-01-19  Madrid       10.1       3.1
...            ...        ...       ...
2020-05-11  Madrid       19.4      10.3
2020-05-12  Madrid       15.2       9.3
2020-05-13  Madrid       18.8       9.3
2020-05-14  Madrid       14.7       9.1
2020-05-15  Madrid       18.9       9.8

[122 rows x 3 columns]